body {
    background: rgb(63, 63, 179);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}
h1#titulo {
    margin: 20px;
}

section {
    background: white;
    border-radius: 15px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.355);
}

div {
    text-align: center;
    padding: 3px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

a#myname {  
    color: white;
}