body{
    background: rgb(81, 56, 190);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    font-weight: bolder;
}

section{
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
}

div#valoresLista{
    display: flex;
    justify-content: center;
    padding: 30px;
}

select#flista{
    width: 160px;
    height: 160px;
}

p#myname{
    margin: 30px;
    text-align: center;
}
a#myname{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a#myname:hover{
    text-decoration: none;
    color: rgb(216, 198, 198);
    font-size: 21px;
}